<tr class="cart-line">
  <td>
    <div class="product-item">
      <a class="product-thumb" href="/item/{{ item.slug }}"><img src="/img/goods/{{ item.img }}" alt="Product"></a>
      <div class="product-info">
        <h4 class="product-title"><a href="/item/{{ item.slug }}">{{ item.name }}</a></h4>
        {% if line.size is defined and line.size %}
        <span><em>Размер:</em> {{ line.size }}</span>
        {% endif %}
      </div>
    </div>
  </td>
  <td class="text-center">
    <div class="count-input">
      <form class="form-update-quantity">
        <input type="hidden" name="slug" value="{{ item.slug }}">
        <select name="quantity" data-slug="{{ item.slug }}" class="form-control">
          {% for i in 1..5 %}
            <option value="{{ i }}"{{ i == line.quantity ? ' selected' : '' }}>{{ i }}</option>
          {% endfor %}
          <option value="">Убрать из корзины</option>
        </select>
      </form>
    </div>
  </td>
  <td class="text-center text-lg text-medium">{{ (item.salePrice ?? item.price) * line.quantity }} руб</td>
  <td class="text-center text-lg text-medium">
    {% if discount > 0 %}
      {{ discount * line.quantity }} руб
    {% endif %}

  </td>
  <td class="text-center"></td>
</tr>
