<div class="entry">
  <div class="entry-thumb"><a href="/item/{{ item.slug }}"><img src="/img/goods/{{ item.img }}" alt="Product"></a></div>
  <div class="entry-content">
    <h4 class="entry-title"><a href="/item/{{ item.slug }}">{{ item.name }}</a></h4><span class="entry-meta">{{ item.price }} руб</span>
  </div>
</div>
